/* .divLayout {
  min-height: 100vh;
  width: 100%;
} */

.div {
  min-height: 100vh;
  background-image: url(../../assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #eaeded;
}
