.divNavbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #131921;
  color: #ffffff;
}

.amazonLogo {
  height: 30px;
  width: 104px;
  margin-left: 10px;
  margin-right: 70px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #131921;
  cursor: pointer;
}

.amazonLogo:hover {
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.divUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 350px;
  padding-left: 40px;
  padding-right: 20px;
}

.span {
  font-size: 0.8rem;
  color: #a8aaab;
}

.divUserContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.divUserContainers:hover {
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.divCart {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.divCart:hover {
  border: 1px solid #ffffff;
  border-radius: 2px;
}
