.div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 250px;
  border-radius: 5px;
  border-top: 2px solid #dddddd;
  /* background-color: green; */
}

/* h4 {
  color: red;
}
 */
